<div ngbDropdown class="">
  <div>
     <button ngbDropdownToggle type="button" (click)="getNewCurrency()"
       class="dropdown-chart btn btn-ex-sm dropdown-toggle btn-block bg-black btn-drpodwn text-left select-coin-dropdown-toggle"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       {{this.currency_code}} / {{ this.base_currency}}
     </button>
   </div>
   <div ngbDropdownMenu class="dropdown-menu select-coin-list" id="dropHolder" style="width:239%">
     <div class="table coin-select">
      <table style="width:45%;">
         <tr>
           <th *ngFor="let count of header" > 
               <img  src="{{'../../assets/img/currency/'+ count+'.svg'}}" width="24" alt="" />{{count}}
           </th>
           
         </tr>
         <p style="width:25%;float:left;">
             <tr *ngFor="let item of assets">
                 <td  *ngIf="item.baseCurrency=='USDT'" (click)="buySellCode(item)">
                   <a><img  src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24" alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>
                   
                 </td>
               </tr>
         </p>
         <p style="width:25%;float:left;">
             <tr *ngFor="let item of assets">
                 <td  *ngIf="item.baseCurrency=='BTC'" (click)="buySellCode(item)">
                     <a><img  src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24" alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>
                   
                   </td>
               </tr>
         </p> 
         <p style="width:25%;float:left;">
             <tr *ngFor="let item of assets">
                 <td  *ngIf="item.baseCurrency=='ETH'" (click)="buySellCode(item)">
                     <a><img  src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24" alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>
                     
                   </td>
               </tr>
         </p> 
         <p style="width:25%;float:left;">
             <tr *ngFor="let item of assets">
                 <td *ngIf="item.baseCurrency!='USDT' && item.baseCurrency!='BTC' && item.baseCurrency!='ETH'" (click)="buySellCode(item)" >
                     <a><img  src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24" alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>
                 </td>
               </tr>
         </p>  
        </table>

     </div>
   </div>
  
 </div>
<div [ngResizable]="data.resize" class="bg-dark p-2 pl-3 pr-3 rounded h-35 resizable-widget">
         

<!--dhriti  -->
            <div class="tab-pane fade show active" id="orderbook" role="tabpanel" aria-labelledby="orderbook-tab">
              <div class="row" >
                <!-- <div class="tab-content col-md-6" id="trade-details-tableContent" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"> -->
                <div class="col-md-6 border-col order-gap" >
                  <div class="table-responsive tabe-responsive_left_sell">
                    <table class="table table-sm table-hover mb-4">
                        <thead>
                          <tr class="bg-black text-blue">
                            <th scope="col">Amount</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                           </tr>
                        </thead>
                       <tbody >
                              <tr class="" *ngFor="let m of askdata;let i = index;">
                                <td class="{{'text-left'+' '+i+'newclass'}}">{{m.amount| number : '.4-4'}}</td>
                                <td class="{{'text-red'+' '+i+'newclass'}}">{{m.price | number : '.4-4'}}</td>
                                <td class="{{'text-right'+' '+i+'newclass'}}">{{m.amount*m.price | number : '.4-4'}}</td>
                              </tr>
                            </tbody>
                      </table>
                </div>
                  <div class="sp-highlow"><ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer><small class="font-sm ml-2" style="font-size:2px" id="pricegreen" style="display: none" ><i class="fa fa-arrow-up text-green" style="font-size:12px" >{{highprice}} </i>
                           </small>
                           <small class="font-sm ml-2" style="font-size:2px" id="pricered" style="display: none" ><i class="fa fa-arrow-down text-red" style="font-size:12px">{{lowprice}} </i>
                           </small>
                  </div>
                  <div class="table-responsive tabe-responsive_left_buy">

                    <table class="table table-sm table-hover mb-4">
                        <thead>
                          <tr class="">
                           
                          </tr>
                        </thead>
                        <tbody >
                          <tr class="" *ngFor="let m of biddata ;let i = index;">
                            <td class="{{'text-left'+' '+i+'newclassask'}}">{{m.amount/m.price | number : '.4-4'}}</td>
                            <td class="{{'text-green text-green'+' '+i+'newclassask'}}">{{m.price | number : '.4-4'}}</td>
                            <td class="{{'text-right'+' '+i+'newclassask'}}">{{(m.amount/m.price)*(m.price) | number : '.4-4'}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>

                </div>
                <!-- <div class = "vertical"></div>  -->
                <div class="col-md-6" id="trade-details-tableContent" >
                    <div class="table-responsive tabe-responsive_right">
                        <table class="table table-sm table-hover cust">
                            <thead>
                              <tr class="bg-black text-blue">
                                <th scope="col"> Time</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Price</th>
                              </tr>
                            </thead>
                            <!-- <tbody id="marketTradeBody" [innerHTML]="marketTradeBodyHtml">
                            </tbody> -->
                            <tbody >
                              <tr class="" *ngFor="let m of marketTradeRecords;let i = index;">
                                <td class="{{'text-left'+' '+i+'newclassmarket'}}">{{m.ledger_close_time | date:'h:mm:ss '}}</td>
                                <td class="{{'text-green text-green'+' '+i+'newclassmarket'}}">{{m.base_amount | number : '.4-4'}}</td>
                                <td class="{{'text-right'+' '+i+'newclassmarket'}}">{{m.counter_amount/m.base_amount | number : '.4-4'}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
                </div>
              </div>
</div>

<div class="w-100 mt-2"></div>
<style>
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
</style>
<!-- <script>
  $(document).ready(function() {
    alert('x');
 window.setInterval(function(){

var x = Math.floor((Math.random() * biddata.length) + 1);
  document.getElementById("demo").innerHTML = x;
 alert(x);
 
}, 2000);
});
 
</script> -->
<!--order book end-->