<div [ngResizable]="data.resize" class="" id="chartHolder">
  <div>
    <div class="row no-gutters">
      <div class="col-12 col-sm-12 col-md-5">
        <div ngbDropdown class="">
         <!-- <div>
            <button ngbDropdownToggle type="button" 
              class="dropdown-chart btn btn-ex-sm dropdown-toggle btn-block bg-black btn-drpodwn text-left select-coin-dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{this.currency_code}} / {{ this.base_currency}}
            </button>
          </div>
          <div ngbDropdownMenu class="dropdown-menu select-coin-list" id="dropHolder" style="width:239%">
            <div class="table coin-select">
             <table style="width:100%;">
                <tr>
                  <th *ngFor="let count of header" > 
                      <img  src="{{'../../assets/img/currency/'+ count+'.svg'}}" width="24" alt="" />{{count}}
                  </th>
                  
                </tr>
                <p style="width:25%;float:left;">
                    <tr *ngFor="let item of assets">
                        <td  *ngIf="item.baseCurrency=='USD'" (click)="buySellCode(item)">
                          <a><img  src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24" alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>
                          
                        </td>
                      </tr>
                </p>
                <p style="width:25%;float:left;">
                    <tr *ngFor="let item of assets">
                        <td  *ngIf="item.baseCurrency=='BTC'" (click)="buySellCode(item)">
                            <a><img  src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24" alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>
                          
                          </td>
                      </tr>
                </p> 
                <p style="width:25%;float:left;">
                    <tr *ngFor="let item of assets">
                        <td  *ngIf="item.baseCurrency=='ETH'" (click)="buySellCode(item)">
                            <a><img  src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24" alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>
                            
                          </td>
                      </tr>
                </p> 
                <p style="width:25%;float:left;">
                    <tr *ngFor="let item of assets">
                        <td *ngIf="item.baseCurrency!='USD' && item.baseCurrency!='BTC' && item.baseCurrency!='ETH'" (click)="buySellCode(item)" >
                            <a><img  src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24" alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>
                        </td>
                      </tr>
                </p>  
               </table>

            </div>
          </div> -->
          <div class="col-12 col-sm-12 col-md-12 font-sm text-green" *ngIf="tools"
          style="border: 0px solid red; height:30px;">
          <div *ngIf="selectedBuyingAssetText !='BCC'">
            <span class="float-left mt-2 pl-2 plist" style="font-size:14px;">1 {{data.selectedBuyingAssetText | uppercase}} = {{data.cur}}
              <span style="color:red;" else style="color:rgb(4, 146, 28);">
                <ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
              </span>
              <small class="font-sm ml-3" style="font-size: 14px;"><i class="fa fa-arrow-up text-green"></i>
                {{data.highprice}}<i class="fa fa-arrow-down text-red"></i>
                <span style="color:red">&nbsp;{{data.lowprice}}</span>
              </small>
              <span style="margin-left: 2%" style="font-size: 14px;">&nbsp; ROC % :</span>
  
            <small class="font-sm ml-2" *ngIf="rocreact == true"
              style="color:rgb(4, 146, 28); font-size: 14px;">{{data.rocdata}}</small>
            <small class="font-sm ml-2" *ngIf="negetive  == true" style="color:red; font-size: 14px;">{{data.rocdata}}</small>
            </span>
          </div>
  
           <div *ngIf="selectedBuyingAssetText =='BCC'">
            <span class="float-left mt-2 pl-2" style="font-size:14px;">1 BCH = {{data.cur}}
              <span style="color:red;" else style="color:rgb(4, 146, 28);">
                <ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
              
              </span>
           
  
              <small class="font-sm ml-2" *ngIf="rocreact == true"
                style="color:rgb(4, 146, 28); font-size: 14px;">{{data.rocdata}}</small>
              <small class="font-sm ml-2" *ngIf="negetive  == true" style="color:red; font-size: 14px;">{{data.rocdata}}</small>
              <!-- <small class="font-sm ml-3" style="font-size: 11px;"><i class="fa fa-arrow-up text-green"></i>
                {{highprice}} <i class="fa fa-arrow-down text-red"></i>
                <span style="color:red">&nbsp;{{lowprice}}</span>
              </small> -->
            </span> 
            <!-- <span style="margin-left: 2%" style="font-size: 13px;">&nbsp; ROC % :</span> -->
  
            <!-- <small class="font-sm ml-2" *ngIf="rocreact == true"
              style="color:rgb(4, 146, 28); font-size: 13px;">{{rocdata}}</small>
            <small class="font-sm ml-2" *ngIf="negetive  == true" style="color:red; font-size: 11px;">{{rocdata}}</small> -->
          </div> 
          <p style="line-height: 33px;border: 0px solid blue" class="vasset">
            <!-- <span style="margin-left: 2%" style="font-size: 10px;">&nbsp; ROC % :</span>
  
            <small class="font-sm ml-2" *ngIf="rocreact == true"
              style="color:rgb(4, 146, 28); font-size: 10px;">{{rocdata}}</small>
            <small class="font-sm ml-2" *ngIf="negetive  == true" style="color:red; font-size: 13px;">{{rocdata}}</small> -->
  
            <span style="margin-left: 2%" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;24H Volume:</span>
            <small class="font-sm ml-2" style="font-size: 14px;">&nbsp;{{data.volumndata}}</small>
          </p>
        </div>
        </div>
      </div>
     
    </div>
    <div class="w-100 mb-2"></div>
    
  </div>
</div>
<!-- </div>graph section end -->