<div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="dashboard.html" class="site_title"><!--<i class="fa fa-bitcoin"></i> --><span>ADMIN PANEL</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic" style="text-align: center; width: 36px; background: #1ABB9C;height: 36px; margin: 5px; float: left; font-size: 18px; line-height: 2; border-radius: 100%; color:#fff;">
                <!--<img src="images/default_profile.png" alt="..." class="img-circle profile_img">-->
                <span class="logged_user_initial"><span>
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2><span class="logged_user_name"style="color: white;">John Doe</span></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->


            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu dynamicMenu">
                 <!--  <li  id="nav_dashboard" class="nav_menu_list" style="display:none;"><a href="dashboard.html"><i class="fa fa-line-chart"></i>Dashboard</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_view_confirmed_user"><a href="view_confirmed_user.html"><i class="fa fa-users"></i> View Confirmed Users</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_view_unconfirmed_user"><a href="view_unconfirmed_user.html"><i class="fa fa-users"></i> View Unconfirmed Users</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_view_buy_sell"><a href="view_buy_sell.html"><i class="fa fa-credit-card"></i>View buy-sell</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_view_send_recieve"><a href="view_send_recieved.html"><i class="fa fa-exchange"></i>View Send-Recieve</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_orderbook"><a href="orderbook.html"><i class="fa fa-table"></i>Orderbook</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_monitor_balance"><a href="monitor_balance.html"><i class="fa fa-bitcoin"></i>Monitor Balance</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_bot_control"><a href="bot-control.html"><i class="fa fa-info"></i>Bot Control</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_paybito_user"><a href="paybito_user.html"><i class="fa fa-user"></i>TrigX User</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_pending_transaction"><a href="pending_transaction.html"><i class="fa fa-stop-circle-o"></i>Pending Transaction</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_user_management"><a href="user_management.html"><i class="fa fa-user"></i>BO User Management</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_group_management"><a href="group_management.html"><i class="fa fa-stop-circle-o"></i>BO Group Management</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_report_management"><a href="report_management.html"><i class="fa fa-info"></i>Report Management</a></li>
                  <li class="nav_menu_list" style="display:none;" id="nav_liquidity"><a href="liquidity.html"><i class="fa fa-tint"></i>Liquidity Management</a></li> -->

                </ul>
              </div>


            </div>
            <!-- /sidebar menu -->
          </div>
        </div>
        <!--<div id="signin_modal"></div>-->
       <!-- <div class="modal" id="loginModal" style="display:none;">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title">Login</h1>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

            <div class="modal-body">
              <form method="post" name="login_form">
                <p><input type="text" class="span3" name="eid" id="username" placeholder="Username" value="'+username+'"></p>
                <p><input type="password" class="span3" name="passwd" placeholder="Password"></p>
                <p><button type="submit" class="btn btn-primary">Sign in</button>
                  <a href="#">Forgot Password?</a>
                </p>
              </form>
            </div>

          </div>
            </div>
        </div>
        <!-- Modal end -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Access Token Expired, Please Login</h4>
      </div>
                  <div class="modal-body">
                      <form class="form-horizontal form-label-left" method="post">
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <input type="email" id="username" name="email" required="required" class="form-control  col-md-7 col-xs-12 ">
                            <div class="form-alert" id="email_error" style="display:none;">Please Provide Proper Email Address</div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" id="password" name="password" required="required" class="form-control col-md-7 col-xs-12">
                          </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="button" class="btn btn-primary" id="sign_in_btn">Login</button>
                           <!-- <button class="btn btn-default" type="reset">Reset</button>-->
                          </div>
                        </div>

                      </form>
                  </div>
                  </div><!--//.modal-content-->
              </div>
         </div>
    </div>
  </div>
        <script>
          $(document).ready(function(){
          
            var email=localStorage.getItem('email');
            $('#username').val(email);
            var moduleList=JSON.parse(localStorage.getItem('admin_module_list'));
                var html='';
                for(var i=0;i<moduleList.length;i++){
                  html+='<li class="nav_menu_list" id="nav_module_'+moduleList[i].module_id+'"><a href="'+moduleList[i].module_url+'"> '+moduleList[i].module_title+'</a></li>';
                }
                console.log(html);
                $('.dynamicMenu').html(html);
          });
        </script>