
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" routerLink="/dashboard">
      <div class="text-center text-blue logo-deaitls">
        <img src="../../assets/img/bitrump-new-logo.png" alt="">
        <!-- <span><i class="fa fa-btc"></i></span>itrump -->
      </div>
     <!-- <img [src]="data.logo" class="img-fluid mx-auto d-block" style="height:36px;" alt="Bitrump"> -->
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="isNavbarCollapsed = !isNavbarCollapsed">
       <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav navbar-sidenav_new bg-dark" id="exampleAccordion">

        <li class="nav-item {{currentRoute.url=='/'+s.alias ? 'active': ''}}" data-toggle="tooltip" data-placement="right" title="{{s.name}}" *ngFor="let s of sideMenu">
           <a class="nav-link" routerLink="/{{s.alias}}">
              <img src="./assets/img/menu-icon/{{s.alias}}.svg" class="mr-2" width="14" height="14" alt="{{s.name}}">
               <span class="nav-link-text">{{s.name}}</span>
            </a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  {{currentRoute.url=='/'+u.alias ? 'active': ''}}" *ngFor="let u of upperMenu">
           <a class="nav-link" routerLink="/{{u.alias}}">{{u.name}}</a>
       </li>
       <li>

      </li>

      </ul>

      <ul class="navbar-nav">
          <li class="nav-item" ngbTooltip="Logout" placement="bottom">
            <a class="nav-link" data-toggle="modal" (click)="open(content)">
              <img src="./assets/img/default.png" [lazyLoad]="imageLink" class="rounded-circle mr-2" width="30px" height="30px" alt="">
              {{userName}}
            </a>
          </li>
        </ul>

    </div>
  </nav>

  <!-- modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ready to Leave?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Select "Logout" below if you are ready to end your current session.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close(); data.logout()" >Logout</button>
    </div>
  </ng-template>



