<div class="bitrump-body">
    <div class="container" style="margin-top: -25px;">
        <div class="card card-login mx-auto mt-3">
            <div class="card-header text-center text-blue bg-pbgreen bitrump-logo">
                <img src="{{data.logo}}" alt="">
            <!-- <span><i class="fa fa-btc"></i></span>itrump -->
            <h5 class="bittrmp-hedr">Please check that you are visiting <a href="https://www.bitrump.com/" target="_blank">https://www.bitrump.com/</a></h5>
            </div>
            <div class="card-header text-center text-blue p-0">
                <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;"><span class="bitrump-pro">{{data.exchange}} Log In</span></h5>
            </div>

            <div class="card-body p-3 card-login-body">
                <!-- new -->
                <ngb-tabset justify="fill" activeId="tab2">
                    <!-- <ngb-tab id="tab1" >
                    <ng-template ngbTabTitle>
                        <h5>BASIC</h5>
                    </ng-template>
                    <ng-template ngbTabContent>
                    </ng-template>
                    </ngb-tab> -->
                   <ngb-tab id="tab2">
                        <!-- <ng-template ngbTabTitle>
                            <h5>BITRUMP PRO</h5>
                        </ng-template> -->
                        <ng-template ngbTabContent>
                            <form name="login_form">
                                <span class="text-center" style="color: #f94e26;">{{logoutReason}}</span>
                                <div class="form-group">
                                <!-- <label for="loginInputEmail">Email address</label> -->
                                <input class="form-control" name="email" id="email" type="email" [(ngModel)]="email" placeholder="Email" autofocus>
                                <!-- <span [hidden]="email.valid" style="color: #bf260c;">Please enter valid email</span> -->
                                </div>
                                <div class="form-group">
                                <!-- <label for="loginInputPassword">Password</label> -->
                                <input class="form-control" name="password" type="password" [(ngModel)]="password" autocomplete placeholder="Password">
                                </div>
                                <div class="form-group otp_segment" *ngIf="otpBlock">
                                <label for="loginInputOTP">OTP</label>
                                <input class="form-control" id="loginInputOTP" name="otp" type="number" [(ngModel)]="otp" placeholder="OTP" autofocus autocomplete="off" >
                                <small>* An OTP is sent to your Google Authenticator</small>
                                <!-- <a href="javascript:void(0)" class="float-right" data-ng-click="resendOtp()">Resend OTP</a>-->
                                </div>
                                <button type="submit" class="btn btn-primary btn-block login_btn" (click)="loginData(true)" *ngIf="!otpBlock" >
                                Log In
                                </button>
                                <button type="submit" class="btn btn-primary btn-block otp_btn" (click)="loginThroughOtp()" *ngIf="otpBlock">Submit</button>
                            </form>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
                <!-- new -->
                <br>
                <p *ngIf="loader" class="text-center">
                    <!-- <ngb-progressbar type="info" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar> -->
                    <img src="./assets/svg-loaders/30.svg" alt="" width="100">
                </p>
                <p [hidden]="!error" class="text-danger my-3">Email address or Password Invalid</p>
                <div class="d-flex mt-2 forgot-pswd">
                    <div class="p-1 mr-auto"><a routerLink="/secure-token">Forgot Password?</a></div>
                    <div class="p-1 "><strong>Not on Bitrump yet?</strong><a routerLink="/signup"> Register<!--{{data.exchange}}--></a></div>

                </div>
            </div>
        </div>
    </div>
</div>
